batteries:
    - name: <My Notebook Battery Name>
      critical: 25
    - name: <My Headset Battery Name>
      critical: 10
alerts:
    added: /usr/share/sounds/freedesktop/stereo/power-plug.oga
    removed: /usr/share/sounds/freedesktop/stereo/power-unplug.oga
    charging: /usr/share/sounds/freedesktop/stereo/power-plug.oga
    discharging: /usr/share/sounds/freedesktop/stereo/power-unplug.oga
    full: /usr/share/sounds/freedesktop/stereo/complete.oga
    critical: /usr/share/sounds/freedesktop/stereo/alarm-clock-elapsed.oga
verbose: true
# logfile: uap.log
